doctype html
<!--[if IE 8]><html class='ie8'><![endif]-->
<!--[if IE 9]><html class='ie9'><![endif]-->
<!--[if IE]><!--><html><!--<![endif]-->
head
    meta(charset='utf-8')
    - var course = 'jade'
    title imooc #{course.toUpperCase()} study  我是#{name}
body
    style.
        body{color: #ff6600;}
    script.
        var imoocCourse = 'jade';

    h3 我是#{name}
    h2 注释
    h3 单行注释
    // h3.title(id='title',class='title3') imooc
    h3 非缓冲注释
    //- #id.classname
    h3 块注释
    //-
        p.
            1.123<strong>ABC</strong> 
            2.456 
            <span>DEF</span>
            3.789 
            <a href='#'>link</a>
    h1 imooc jade study
    div asda
    div.title1.titl2(id='def', class='title3') 测试
    #id.classname
        a(href='http://www.imooc.com', title='asdads') link
    p.
        1.123<strong>ABC</strong> 
        2.456 
        <span>DEF</span>
        3.789 
        <a href='#'>link</a>
    p
        | 1.123
        strong ABC
        | 2.456
        span DEF
        | 3.789
        a(href='#') link
    h2 转义
    - var data = 'text'
    - var htmlData = '<script>console.log(1);</script><span>script</span>;'

    p #{data}
    p #{htmlData}
    p !{htmlData}
    p= data
    p= htmlData
    p!= htmlData

    p \#{htmlData}
    p \!{htmlData}
    input(type="text",value="#{data}")
    input(type="text",value="#{data1}")
    input(type="text",value=data1)

    h2 流程
    - var imooc = {course:'jade',level:'high'}
    - for (var  k in imooc)
        p= imooc[k]
    each value, key in imooc
        p #{key}: #{value}
    - var courses = ['node', 'jade', 'express']
    each item in courses
        p= item
    - var sections = [{id:1,items:['a','b','c']},{id:2,items:['d','e']}]
    dl
        each section in sections
            dt= section.id
            each item in section.items
                dd= item
    - var n = 0
    ul
        while n < 4
            li= n++

    h3 if else
    - var isImooc = true
    - var lessons = ['jade','node']
    if lessons
        if lessons.length > 2
            p more than 2: #{lessons.join(', ')}
        else if lessons.length > 1
            p more than 1: #{lessons.join(', ')}
        else
            p no lessons
    h3 unless
    unless !isImooc
        p #{lessons.length}
    h3 case
    - var name = 'jade'
    case name
        when 'node'
            p Hi node!
        when 'jade'
            p Hi jade!
        default
            p Hi #{name}
</html>